<!DOCTYPE html>
<html lang="en" ng-app="mainPage">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title><%= title %></title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="javascripts/app.js"></script>
	<script src="javascripts/controller.js"></script>
</head>
<body ng-controller="mainCtrl" ng-cloak>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
    <br><br>
	<div class="login-page">
		<div class="form">
			<form class="login-form" ng-submit="sub()">
                <h5>Sign Up:</h5>
				<input ng-model="distributor_name" name="distributor_name" placeholder="Distributor Name" required/>
                <h5>Please strictly follow this format to import items:</h5>
                <h5 style="font-weight: bold">Item Name;Packing;Rate;Company Name,</h5>
                <br>
                <input type='file' onchange='openFile(event)'/>
				<p class="ng-cloak err-msg-show" >{{msgHide}}</p>
				<input type="submit" value="Submit"/>
			</form>
		</div>
	</div>
	<br>
	<!--Existing Items-->
	<h4 ng-style="exist_item_msg" style="display: none">No Existing Items</h4>
	<table ng-style="table_existingItem" style="display: none" class="table ng-cloak" cellspacing="0" cellpadding="0">
		<thead>
		<h1 ng-style="table_existingItem" style="display: none; font-weight: bold">Existing Items that will not be added</h1>
		<tr>
			<th>Item Name</th>
			<th>Packing</th>
			<th>Rate</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in existItemList">
			<td>{{row.INAME}}</td>
			<td>{{row.DESCRIPTION}}</td>
			<td>{{row.ITRADEP}}</td>
		</tr>
		</tbody>
	</table>
	<br>
	<!--New Items-->
	<h4 ng-style="new_item_msg" style="display: none">No New Items</h4>
	<table ng-style="table_newItem" style="display: none" class="table ng-cloak" cellspacing="0" cellpadding="0">
		<thead>
		<h4 ng-style="table_newItem" style="display: none; font-weight: bold">New Items</h4>
		<tr>
			<th>Item Name</th>
			<th>Packing</th>
			<th>Rate</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in itemList">
			<td>{{row.name}}</td>
			<td>{{row.pack}}</td>
			<td>{{row.rate}}</td>
		</tr>
		</tbody>
	</table>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
